body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffffe;
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: .25;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  display: flex;
  justify-content: center;
}

.name {
  color: #00214d;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.social-icons {
  background-color: #00ebc7;
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  color: #00214d;
  text-decoration: none
}

.link {
  background-color: #bf00ff;
  display: flex;
  align-items: center;
  padding: 5px;
}

.link a {
  color: #fffffe;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}
